@charset "utf-8";
/* CSS Document */

#Mypage #mypage_sec{
	width:100%;
}

#Mypage #mypage_sec h1{
	border-top:5px solid #04439B;
	padding:10px 5px 10px 5px;
	color:#044398;
	font-size:1.4rem;
	font-weight:bold;
}
#Mypage #mypage_sec h2{

	border-top:1px solid #ccc;
	background:#f1f2f3;
	text-align:center;
	padding:10px 0 10px 0;
	color:#000;
	font-size:1.3rem;
	width:100%;
}
#Mypage #mypage_sec .table{
	width:100%;
	display:table;
	text-align:center;
	vertical-align:middle;
  table-layout: fixed;
	border-top:1px solid #ccc;
	font-size:1.0rem;

}
#Mypage #mypage_sec .table li {
	display:table-cell;
	vertical-align:middle;
	padding:15px 0 15px 10px;
	text-align:left;
	border-left:1px solid #ccc; 
}
#Mypage #mypage_sec .table li.back {
	background-image:url(../../images/f_right.png);
	-webkit-background-size:12px 12px;
	background-size:12px 12px;
	background-repeat:no-repeat;
	background-position:95%;
}


#Mypage #mypage_sec .table li.r-line {
	border-right:1px solid #ccc;
	

}
#Mypage #mypage_sec li a{
	width:100%;
	height:100%;
	display:block;
	
}

