@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	font-family:Helvetica, Arial, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	-webkit-text-size-adjust: 100%;
	line-height:1.2;
	background-color:#fff;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.clear hr{
	display:none;
}

/*------------------------------------------------------------
	アコーディオン
------------------------------------------------------------*/

/*----
カテゴリプルダウン
---*/


/*全体指定*/

#top_contents #category_search ul.accordion2 {
	background: #FFF;
	width: 100%;
	margin: 0;
	padding: 0px;
}
/**/#top_contents #category_search ul.accordion2 a{
	display: block;
	padding: 15px;
	background-position: 97% center;
	background-repeat: no-repeat;
	text-decoration: none;
	color: #000;
}
/*
#category_search ul.accordion2 span {
	display: block;
	padding: 18px 12px 5px 0px;
	background-position: 97% 67%;
	background-repeat: no-repeat;
	color: #333;
	border-top: #ccc 1px solid;
	font-weight: bold;
}*/

/*タイトル*/

#top_contents #category_search ul.accordion2 ul {
	display: none;
}
#top_contents #category_search ul.accordion2 > li {
	border-top: #ccc 1px solid;
}
#top_contents #category_search ul.accordion2 > li > p {
	cursor: pointer;
	height: 75%;
	font-size: 1.3em;
}
#top_contents #category_search ul.accordion2 > li > p span {
	background-image: url(../../images/f_bottom.png);
	-webkit-background-size:12px 12px;
	background-size:12px 12px;
	display: block;
	padding: 15px 12px 15px 12px;
	background-position: 97% 50%;
	background-repeat: no-repeat;
	color: #000;
	
}
#top_contents #category_search ul.accordion2 > li > p span.open {
	background-image: url(../../images/f_top.png);
	-webkit-background-size:12px 12px;
	background-size:12px 12px;
}

/*1段目*/


#top_contents #category_search ul.accordion2 > li > ul > li {
	background: #FFF;
	border-top: 1px dotted #CCC;
	font-size: 1.1em;
}
#top_contents #category_search ul.accordion2 > li > ul > li > a{

	background: url(../../images/f_right.png) no-repeat 98% center;
	-webkit-background-size:12px 12px;
	background-size:12px 12px;
}
#top_contents #category_search ul.accordion2 > li > ul > li > p {
	background: #FFF;
	display: block;
	height:30px;
}
#top_contents #category_search ul.accordion2 > li > ul > li > p span {
	background-image: url(../../images/f_bottom.png);
	-webkit-background-size:12px 12px;
	background-size:12px 12px;
	display: block;
	padding: 18px 12px 5px 12px;
	background-position: 98% center;
	background-repeat: no-repeat;
	margin:0px;
	height:30px;
}
#top_contents #category_search ul.accordion2 > li > ul > li > p span.open {
	background-image: url(../../images/f_top.png);
	-webkit-background-size:12px 12px;
	background-size:12px 12px;
	border-bottom: 1px dotted #888;
}

/*2段目*/
#top_contents #category_search ul.accordion2 > li > ul > li > ul > li {
	background: #f1f2f3;
	border-bottom: 1px dotted #888;
}
#top_contents #category_search ul.accordion2 > li > ul > li > ul > li > a {
	background: url(../../images/f_right.png) no-repeat 98% center;
	-webkit-background-size:12px 12px;
	background-size:12px 12px;
}
#top_contents #category_search ul.accordion2 > li > ul > li > ul > li > p {
	background: #F1F2F3;
	display: block;
	height:30px;
}

#top_contents #category_search ul.accordion2 > li > ul > li  > ul > li > p span {
	background-image: url(../../images/f_bottom.png);
	-webkit-background-size:12px 12px;
	background-size:12px 12px;
	display: block;
	padding: 18px 12px 5px 12px;
	background-position: 98% center;
	background-repeat: no-repeat;
	margin:0px;
	height:30px;
}
#top_contents #category_search ul.accordion2 > li > ul > li  > ul > li > p span.open {
	background-image: url(../../images/f_top.png);
	-webkit-background-size:12px 12px;
	background-size:12px 12px;
	border-bottom: 1px dotted #888;
}

/*3段目*/

#top_contents #category_search ul.accordion2 > li > ul > li > ul > li > ul > li {
	background: #ccc;
	border-bottom: 1px dotted #888;
}

#top_contents #category_search ul.accordion2 > li > ul > li > ul > li > ul > li> a {
	background: url(../../images/f_right.png) no-repeat 98% center;
	-webkit-background-size:12px 12px;
	background-size:12px 12px;
}

#top_contents #category_search ul.accordion2 > li > ul > li > ul > li > ul > li> p {
	background: #F1F2F3;
	display: block;
	height:30px;
}

#top_contents #category_search ul.accordion2 > li > ul > li  > ul > li >li> ul >  p span.open {
	background-image: url(../../images/f_top.png);
	-webkit-background-size:12px 12px;
	background-size:12px 12px;
	border-top: 1px dotted #888;
}

#top_contents #category_search ul.accordion2 > li > ul > li > ul > li > ul > li:last-child {
	border: none;
}


/*4段目*/
#top_contents #category_search ul.accordion2 > li > ul > li > ul > li > ul > li> ul > li {
	background: #FFF;
	border-bottom: 1px dotted #888;
}


#top_contents #category_search ul.accordion2 > li > ul > li > ul > li > ul > li> ul > li:last-child {
	border: none;
}



#top_contents p.bland_search{
  list-style: none;
  width: 100%;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  background-image:url(../../images/f_right.png);
  background-repeat:no-repeat;
	-webkit-background-size:12px 12px;
	background-size:12px 12px;
background-position:97%;
}

#top_contents p.bland_search a{
  font-size: 1.3em;
  display: block;
  margin-left:12px;
  padding:15px 0;
  text-decoration: none;
}

/*.bland_search li a:after{
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	right: 4%;
	width: 6px;
	height: 6px;
	margin: -4px 0 0 0;
	border-top: solid 4px #999999;
	border-right: solid 4px #999999;
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
}
*/
#top_contents #box1{
	  border-collapse: separate;
	  border-spacing: 8px 0;
      display: table;
      width: 100%;
}
#top_contents .child{
      display: table-cell;
	  vertical-align: middle;
}

#box2{
	  border-collapse: separate;
	  border-spacing: 8px 6px;
      display: table;
      width: 100%;
}
#top_contents .child{
      display: table-cell;
	  vertical-align: middle;
}
#top_contents .lixt_24 {
	width: 100%;
}
#top_contents .lixt_24 .inner {margin-top: 6px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 16px;
	width: 300px;
	text-align: center;
	font-size: 1.2em;
	text-decoration: underline;
}
#top_contents .tit {
	width: 100%;
	background-color: #014099;
	clear:left;
}
#top_contents .tit .inner h2 {
	width: 250px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	color:#FFF;
	font-size:1.3em;
	font-weight:bold;
	padding:4%;
}
#top_contents #sub_slider li .box_left {
	position:relative;
	width:35%;
	float:left;
	font-size:1.2em;
}
#top_contents #sub_slider li .box_right {
	position:relative;
}
#top_contents .new_mark {
	background-color:#FF0000;
	color:#FFF;
	padding:2px 5px;
	margin-right:5px;
}
#top_contents .rank {
	position:absolute;
	color:#FFF;
	left:0;
	top:0;

}
#top_contents #sub_slider li .box_right {
	width:65%;
	float:left;
	text-align:left;
	font-size:1.2em;
	line-height:1.8em;
}
#top_contents #sub_slider li .box_right .sku p img {
	width:15%;
	float: left;
	margin-left:2px;
}
#top_contents .item_price {
	font-size: 1.0em;
	color: #FF0000;
}
#top_contents .info p.price1{
	color:red;
	font-size:1.3rem;
		word-wrap: break-word;
		text-align:left;
}
#top_contents .info p.price2{
	color:red;
	font-size:1.1rem;
		word-wrap: break-word;
		font-weight:bold;
			text-align:left;	
}
#top_contents  .info p.price3{
	color:red;
	font-size:1.0rem;
		font-weight:bold;
		word-wrap: break-word;
			text-align:left;	
}
#top_contents #sub_slider li .box_right .label {
	float: left;
	margin:2% 2% 0 0;
	padding:0 2%;
	border: 1px #ff0000 solid;
	border-color:#ccc;
	color:#666;
	font-size: 0.8em;
}
#top_contents #sub_slider {
	margin-bottom: -25px;
	margin-top: 10px;
}

#top_contents .cell .lbox {
	width: 30%;
	margin-left: 2%;
	float: left;
}

#top_contents .cell .rbox {
	width: 65%;
	float: right;
	padding-right: 2%;
}
#top_contents .cell .rbox .text1 {
	font-size: 0.9em;
	color:#FF0000;
	margin-top: 3%;
	margin-bottom: 3%;
}
#top_contents .cell .rbox .text2 {
	margin-bottom: 2%;
}

#top_contents .bland_name {
	font-size:1em;
	line-height:1.8em;
}

#top_contents .item_name {
	font-size:1em;
	line-height:1.8em;
}

#top_contents #saler li{
  list-style: none;
  width: 100%;
  margin: 0;
  padding-top: 10px;
  border-bottom: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#top_contents #saler li a{
  position: relative;
  display: block;
  text-decoration: none;
}

#top_contents #saler li a:after{
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	right: 3%;
	width: 6px;
	height: 6px;
	margin: -4px 0 0 0;
	border-top: solid 2px #271512;
	border-right: solid 2px #271512;
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
}
.an:before{
		  content: "\A";
  white-space: pre;
}